<section class=" p-md-4" style="background-color: #eee;">
    <div class="container h-100">
        <div id="registro-row" class="row justify-content-center align-items-center">
            <div id="registro-column" class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                <div id="registro-box" class="shadow p-3 mb-5 bg-body col-lg-12 col-md-12 col-sm-12 col-12"
                    style="border-radius: 25px;">

                    <p class="text-center h1 fw-bold  mx-1 mx-md-4 mt-4">Registrar</p>
                    <hr>
                    <form class="form" name="formulario" [formGroup]="form" (ngSubmit)="registrar()">
                        <!--  -->
                        <div class="row mb-3">
                            <!-- Nombre y apellido -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-floating">
                                    <input class="form-control" id="nombres" type="text" placeholder="Nombres"
                                        [ngClass]="{'is-invalid':submite && f['nombres'].errors}"
                                        formControlName="nombres" />
                                    <label class="form-label" for="nombres">Nombre y Apellido</label>
                                    <div *ngIf="submite && f['nombres'].errors" class="invalid-feedback">Debe
                                        ingresar un Nombre y Apellido</div>
                                </div>
                            </div>
                            <!-- Nombre de Usuario -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-floating">
                                    <input class="form-control" id="username" type="text" placeholder="username"
                                        [ngClass]="{'is-invalid':submite && f['username'].errors}"
                                        formControlName="username" />
                                    <label class="form-label" for="username">Nombre de Usuario</label>
                                    <div *ngIf="submite && f['username'].errors" class="invalid-feedback">Debe
                                        ingresar un Nombre de Usuario</div>

                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="row mb-3">
                            <!-- Identificacion -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-floating">
                                    <input class="form-control" id="identificacion" type="text"
                                        placeholder="Identificacion" name="identificacion"
                                        [ngClass]="{'is-invalid':submite && f['identificacion'].errors}"
                                        formControlName="identificacion" />
                                    <label class="form-label" for="identificacion">Identificación</label>
                                    <div *ngIf="submite && f['identificacion'].errors" class="invalid-feedback">Debe
                                        ingresar un Número de identificacion</div>

                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <!-- Número de Telefono -->
                                <div class="form-floating">
                                    <input class="form-control" id="celular" type="celular" placeholder="celular"
                                        name="celular" [ngClass]="{'is-invalid':submite && f['celular'].errors}"
                                        formControlName="celular" />
                                    <label class="form-label" for="celular">Número de Telefono</label>
                                    <div *ngIf="submite && f['celular'].errors" class="invalid-feedback">Debe
                                        ingresar un Número de identificacion</div>

                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class=" row mb-3">
                            <!-- Email -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-floating ">
                                    <input class="form-control" id="email" type="email" placeholder="Email"
                                        [ngClass]="{'is-invalid':submite && f['email'].errors}"
                                        formControlName="email" />
                                    <label class="form-label" for="email">Email</label>
                                    <div *ngIf="submite && f['email'].errors" class="invalid-feedback">Debe
                                        ingresar un Correo</div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <!-- Contraseña -->
                                <div class="form-floating">
                                    <input class="form-control" id="password" type="password" placeholder="Contraseña"
                                        name="password" [ngClass]="{'is-invalid':submite && f['password'].errors}"
                                        formControlName="password" />
                                    <label class="form-label" for="password">Contraseña</label>
                                    <div *ngIf="submite && f['password'].errors" class="invalid-feedback">Debe
                                        ingresar una Contraseña</div>

                                </div>
                            </div>
                        </div>
                        <!-- Fecha -->
                        <div class="row mb-3">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-control">
                                    <label class="form-label d-block">Fecha de nacimiento</label>
                                    <input class="form-control" type="date" name="fecha_nac" size="25"
                                        placeholder="DD/MM/AAAA" value="" required>
                                </div>
                            </div>
                            <!-- Tipo Usuario -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-control">

                                    <label for="" class="form-label d-block">Tipo de usuario</label>
                                    <select class="form-select" name="id_rol">
                                        <option value="" disabled>--Selecionar una opción--</option>
                                        <option value="1">Cliente</option>
                                        <option value="2">Coordinador</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Botn -->
                        <div class="d-grid mb-1">
                            <button class="mb-3" type="submit">Registrar</button>
                        </div>
                    </form>
                    <!-- Back to login -->
                    <a class="texto_footer d-flex justify-content-center btn btn-lg" [routerLink]="'/login'"><i
                            class="bi bi-arrow-bar-left me-1"></i>Regresar al
                        Login </a>

                </div>
            </div>
        </div>
    </div>
</section>