
<!-- Modal Login-->
<div id="id01" class="modal">
  <form class="modal-content animate" style="border-radius: 25px;" [formGroup]="form" (ngSubmit)="login()">
    <div class="imgcontainer">
      <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span> -->
      <img src="../../../assets/img/brands/expeditedssl.svg" alt="Avatar" class="avatar">
    </div>

    <h3 class="text-center text-dark">Iniciar sesion</h3>

    <div class="container h-100">

      <!-- User input -->
      <input class="form-control" type="text" placeholder="Ingresar Usuario" formControlName="username"
        [ngClass]="{'is-invalid':submite && f['username'].errors}" />
      <div *ngIf="submite && f['username'].errors" class="invalid-feedback">debe ingresar el username</div>

      <!-- Password input -->
      <input class="form-control" type="password" placeholder="Contraseña" formControlName="password"
        [ngClass]="{'is-invalid':submite && f['password'].errors}">
      <div *ngIf="submite && f['password'].errors" class="invalid-feedback">debe ingresar la contra</div>

      <!-- Btn Login -->
      <button type="submit">Login</button>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Recordarme
      </label>
    </div>

    <!-- Register buttons -->
    <div class="container"
      style="background-color:#f1f1f1; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
      <button type="button" [routerLink]="'/register'">Crear nueva cuenta</button>
    </div>
  </form>
</div>
