<!-- ======= Sidebar ======= -->

    <aside class="sidebar" id="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" routerLink="/home">
                    <i class="bi bi-house-door"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="nav-heading">Navegacion</li>

            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/home/tablauno">
                    <i class="bi bi-caret-right"></i>
                    <span>tabla uno</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/home/tablados">
                    <i class="bi bi-caret-right"></i>
                    <span>tabla dos</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/home/tablatres">
                    <i class="bi bi-caret-right"></i>
                    <span>tabla 3</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="">
                    <i class="bi bi-caret-right"></i>
                    <span>Items</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="">
                    <i class="bi bi-caret-right"></i>
                    <span>Items</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="">
                    <i class="bi bi-caret-right"></i>
                    <span>Items</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/home/usuarios">
                    <i class="bi bi-caret-right"></i>
                    <span>Usuarios</span>
                </a>
            </li>

        </ul>

    </aside>
    <!-- End Sidebar-->

